<!DOCTYPE html>
<html>
<head>
  <title>Seleção do layout</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>🚀 Bem-vindo ao Socket App</h1>
  <a href="/emissor">Ir para o Emissor</a> |
  <a href="/receptor">Ir para o Receptor</a>
</body>
</html>
