<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Receptor</title>
</head>
<body>
  <h1>📥 Receptor</h1>
  <ol id="mensagens"></ol>

  <script src="/js/script.js"></script>

</body>
</html>
